body{
    background-color: #fff;
    font-family: sans-serif;
    color: #000;
}

.contador{
    text-align: center;
    font-size: 80px;
    font-family: 'Lucida Console';
    color: #0f0;
    padding: 0;
    border: 0;
    margin: 0;
}

.box{
    background: #6ac;
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 0px;
    padding: 20px 10px;
    box-shadow: 0 0 30px #0006;
    border-radius: 8px;
}

.miniBox{
    background: #f00;
    width: auto;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 0;

}

.valores{
    padding: 10px;
    font-size: 70px;
    font-display: 90px;
}

.botones_timer{
    margin-top: 200px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 22px;
    color: #f56;
    background-color: #000;
}

.botones{
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 10px 10px;
    font-size: 22px;
    margin: 40px;   
    color: #fff;
    background-color: #0f7;
}
